## Carga informacion

In [53]:
from loader import cargar_datos
import glob
import os
import pandas as pd
from pathlib import Path

# Ruta a la carpeta que contiene los archivos Excel
ruta = "dataset/ns_agosto"

# Obtener DataFrame unificado
df_unido = cargar_datos(ruta)

# Ruta de inventarios en formato Linux (WSL)
ruta_inventarios = "/home/donsson/inventario"

# Buscar todos los inventarios limpios en esa carpeta
archivos = glob.glob(os.path.join(ruta_inventarios, "inventario_limpio*.xlsx"))
# Validar si existen
if not archivos:
    raise FileNotFoundError(f"No se encontrÃ³ ningÃºn inventario limpio en la carpeta {ruta_inventarios}")

# Seleccionar el mÃ¡s reciente por fecha de modificaciÃ³n
ultimo_archivo = max(archivos, key=os.path.getmtime)

# Cargar el inventario
df_inventario = pd.read_excel(ultimo_archivo)

print(f"Inventario cargado desde: {ultimo_archivo}")

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/valladolid_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/bucara_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/norte_0901.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/medellin_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/sexta_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/cota_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/cali_0829.xlsx (4851 filas, 29 columnas)

/home/donsson/Nivel de servicio/.env/lib/python3.12/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

âœ… Archivo cargado: dataset/ns_agosto/barranquilla_0829.xlsx (4851 filas, 29 columnas)
ðŸ“Š DataFrame unificado: 38808 filas, 29 columnas
Inventario cargado desde: /home/donsson/inventario/inventario_limpio.xlsx

In [54]:
df_unido.sample(5)

,Sucursal,Marca,Clase,Producto,Descripcion,Enero nv,Febrero nv,Marzo nv,Abril nv,Mayo nv,...,Marzo vp,Abril vp,Mayo vp,Junio vp,Julio vp,Agosto vp,Septiembre vp,Octubre vp,Noviembre vp,Diciembre vp
15469,SUCURSAL MEDELLIN,DONSSON,C,DAB12688025,[DAB12688025] DA2688A FILTRO AIRE- CAT 289234...,1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN
6331,SUCURSAL BUCARAMANGA,DONSSON,C,DAR04309025,[DAR04309025] DA4309 FILTRO AIRE SEGURIDAD - D...,1.0,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
27552,PRINCIPAL COTA,BALDWIN,C,BCE00779125,"[BCE00779125] G779 FILTRO COMBUSTIBLE CASE, JO...",1.0,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36519,SUCURSAL BARRANQUILLA,BALDWIN,C,BAC00102125,[BAC00102125] DAC102 FILTRO AIRE CABINA MERCED...,1.0,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24358,PRINCIPAL COTA,OTROS,C,DAC00237020,[DAC00237020] DAC237 FILTRO AIRE CABINA - XCMG...,NaN,1.0,1.0,NaN,1.0,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df_sin_clase = df_unido[df_unido["Clase"]=="SIN CLASE X SUCURSAL"]  # identificar productos sin categoria y revisar si son nuevos

df_sin_clase = df_sin_clase.groupby("Descripcion")["Producto"].count()
df_sin_clase.sample(5)

Descripcion
[DLX00393020] GX393 FILTRO SEPARADOR AIRE / ACEITE - INGERSOLL RAND -  KV320-008  (020 GX393)    8
[TAP8111] PARTE PLASTICA CUERPO Y TAPA DA8111 (TAPA DA8111)                                      8
[OTROS] OTROS COBROS EN SUMINISTRO DE FILTROS                                                    8
[ACUEDUCTO Y ALCANTARILLADO] ACUEDUCTO Y ALCANTARILLADO                                          8
[DAB28118025] DA8118KIT FILTRO AIRE JUEGO BUSES SCANIA SERIE K,IVECO,MAN,RENA (025 DA8118KIT)    8
Name: Producto, dtype: int64

## Limpieza

In [56]:
from datetime import datetime
import re

def limpiar_y_transformar(df_unido):
    # 1. Obtener el mes actual en espaÃ±ol manualmente
    meses_es = [
        "Enero", "Febrero", "Marzo", "Abril", "Mayo", "Junio",
        "Julio", "Agosto", "Septiembre", "Octubre", "Noviembre", "Diciembre"
    ]
    mes_actual = meses_es[datetime.now().month - 1]

    # 2. Quitar columnas desde el mes siguiente al actual
    meses_nv = [f"{mes.lower()} nv" for mes in meses_es]
    meses_vp = [f"{mes.lower()} vp" for mes in meses_es]

    idx_mes_actual = meses_es.index(mes_actual)

    # Columnas a eliminar: desde el mes siguiente hasta diciembre
    meses_a_borrar = meses_nv[idx_mes_actual+1:] + meses_vp[idx_mes_actual+1:]
    columnas_a_eliminar = [col for col in df_unido.columns if col.lower() in meses_a_borrar]
    df_unido = df_unido.drop(columns=columnas_a_eliminar, errors='ignore')

    # 3. ClasificaciÃ³n categorÃ­a
    marcas_filtros = [ "BALDWIN", "DONSSON", "AUT*PARTS", "RAMA", "RACOR USA", "RACOR BRASIL"
    ]

    #marcas_aceite_lubricantes = []

    def clasificar_categoria(marca):
        marca = str(marca).upper().strip()
        if marca == "OTROS":
            return "Otros"
        elif marca in marcas_filtros:
            return "Filtro"
        else:
            return "Aceite/Lubricante"

    df_unido["categoria_producto"] = df_unido["Marca"].apply(clasificar_categoria)



    # 4. Extraer cÃ³digo interno        
    def extraer_codigo(descripcion, categoria):
        if not isinstance(descripcion, str):
            return None

    # Para Aceite/Lubricante, tomar directamente lo que estÃ¡ dentro de los corchetes
        if categoria == "Aceite/Lubricante":
            match = re.search(r"\[([A-Z0-9\-]+)\]", descripcion)
            if match:
                return match.group(1)

    # Para Filtros, aplicar la lÃ³gica anterior

    
        elif categoria == "Filtro" or categoria == "Otros":
            match = re.search(r"\[([A-Z0-9\-]+)\]\s+(\S+)", descripcion)
            if match:
                codigo_base = match.group(1)
                palabra_siguiente = match.group(2)
            
            # Tomar los Ãºltimos 3 dÃ­gitos (no caracteres): buscar solo dÃ­gitos desde el final
            ultimos_digitos = ''.join(re.findall(r'\d', codigo_base))[-3:]
            return f"{ultimos_digitos} {palabra_siguiente}"

        

    df_unido["Codigo_interno"] = df_unido.apply(
    lambda row: extraer_codigo(row["Descripcion"], row["categoria_producto"]),
    axis=1)
    df_unido['Codigo_Numerico'] = df_unido['Codigo_interno'].str.split(' ').str[0]


    # 5. Definir las listas de cÃ³digos numÃ©ricos para filtros
    importacion = ['189', '125', '138', '137', '222', '225']
    nacional = ['004', '190', '005']
    fabricado = ['025']

    # 5. Crear una funciÃ³n de clasificaciÃ³n que considera la categorÃ­a y el cÃ³digo numÃ©rico
    def clasificar_producto(row):
        # Si la categorÃ­a es "Filtro", usamos las listas para clasificar
        if row['categoria_producto'] == 'Filtro':
            if row['Codigo_Numerico'] in importacion:
                return 'Importacion'
            elif row['Codigo_Numerico'] in nacional:
                return 'Nacional'
            elif row['Codigo_Numerico'] in fabricado:
                return 'Fabricado'
            else:
                return 'Desconocido' # Si es un filtro con un cÃ³digo no listado
            # Para cualquier otra categorÃ­a (Aceite/Lubricante, etc.), clasificar como "Nacional"
        else:
            return 'Nacional'
        
    df_unido['Tipo_origen'] = df_unido.apply(clasificar_producto, axis=1)

                                

    # 6. Eliminar productos con clase "SIN CLASE X SUCURSAL" y aquellos que no tienen marca
     
    df_unido = df_unido[~(df_unido['Marca'].isna() | (df_unido['Marca'].str.strip() == ''))]

    df_unido = df_unido[df_unido["Clase"] != "SIN CLASE X SUCURSAL"]

    df_unido["Sucursal"] = df_unido["Sucursal"].replace("PRINCIPAL COTA", "MOSTRADOR COTA") #Correccion bodega 8 esatba como principal cota
    df_unido["Sucursal"] = df_unido["Sucursal"].str.replace("Sucursal ", "", regex=False) #Dejar sin la palabra sucursal




    # 7. Agregar columna con la meta de nivel de servicio segÃºn tipo/clase
    metas_nv = {
        'AAA': 0.999,
        'A': 0.98,
        'B': 0.95,
        'C': 0.50
    }

    # Normalizar la columna de clase por si hay espacios o minÃºsculas
    df_unido["Clase"] = df_unido["Clase"].str.strip().str.upper()

    # Crear columna con la meta
    df_unido["meta_ns"] = df_unido["Clase"].map(metas_nv)

    # 8. Comparar si se cumpliÃ³ la meta
    # AsegÃºrate de tener una columna real con el nivel de servicio (ajusta el nombre si es otro)
    if "nivel_servicio" in df_unido.columns:
        df_unido["cumple_meta"] = df_unido["nivel_servicio"] >= df_unido["meta_ns"]




    return df_unido

In [57]:
df_limpio = limpiar_y_transformar(df_unido)
df_limpio = df_limpio[['Sucursal' ,'categoria_producto', 'Marca' , 'Clase', 'Codigo_interno' , 'Agosto nv', 'Agosto vp','meta_ns','Tipo_origen','Descripcion']]
df_limpio.head()

,Sucursal,categoria_producto,Marca,Clase,Codigo_interno,Agosto nv,Agosto vp,meta_ns,Tipo_origen,Descripcion
0,SUCURSAL VALLADOLID,Otros,OTROS,C,136 DAC097,1.0,NaN,0.5,Nacional,[DAC00097136] DAC097 FILTRO AIRE CABINA - VOLK...
1,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA9278,1.0,NaN,0.5,Fabricado,[DAE09278025] DA9278 FILTRO AIRE SEGURIDAD - S...
2,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA8278,1.0,NaN,0.5,Fabricado,[DAB08278025] DA8278 FILTRO AIRE - SINOTRUK - ...
4,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA8276,1.0,NaN,0.5,Fabricado,[DAB08276025] DA8276 FILTRO AIRE - FOTON EN DE...
5,SUCURSAL VALLADOLID,Otros,OTROS,C,020 DAC242,1.0,NaN,0.5,Nacional,[DAC00242020] DAC242 FILTRO AIRE CABINA - HAMM...

In [58]:
df_limpio.groupby(['Sucursal','Clase'])['Agosto vp'].sum()

Sucursal               Clase
MOSTRADOR COTA         A        1032.0
                       AAA       178.0
                       B        1262.0
                       C        3416.0
SUCURSAL BARRANQUILLA  A         143.0
                       AAA        89.0
                       B         281.0
                       C        1118.0
SUCURSAL BUCARAMANGA   A          27.0
                       AAA        56.0
                       B         141.0
                       C         556.0
SUCURSAL CALI          A         200.0
                       AAA        97.0
                       B         287.0
                       C         957.0
SUCURSAL CALLE 6       A         310.0
                       AAA        15.0
                       B         469.0
                       C         555.0
SUCURSAL MEDELLIN      A          57.0
                       AAA        29.0
                       B         158.0
                       C         756.0
SUCURSAL NORTE         A         117.0
                       AAA        14.0
                       B         110.0
                       C         276.0
SUCURSAL VALLADOLID    A         177.0
                       AAA         6.0
                       B         264.0
                       C         334.0
Name: Agosto vp, dtype: float64

### Puedo ver las ventas perdidas de todos los meses que han trasncurrido

In [59]:
df_completo = limpiar_y_transformar(df_unido)
df_completo_vp = df_completo[['Sucursal' ,'categoria_producto', 'Marca' , 'Clase', 'Codigo_interno' ,'Enero vp','Febrero vp','Marzo vp','Mayo vp','Abril vp','Junio vp','Julio vp','Agosto vp','meta_ns','Tipo_origen','Descripcion']]
df_largo = df_completo_vp.melt(
    id_vars=['Sucursal', 'categoria_producto', 'Marca', 'Clase', 'Codigo_interno', 'meta_ns', 'Tipo_origen', 'Descripcion'],
    value_vars=['Enero vp', 'Febrero vp', 'Marzo vp', 'Abril vp', 'Mayo vp', 'Junio vp', 'Julio vp', 'Agosto vp'],
    var_name='Mes',
    value_name='Ventas Perdidas'
)


# Quitar el " vp" del final
df_largo['Mes'] = df_largo['Mes'].str.replace(' vp', '', regex=False)

# Diccionario para ordenar meses
orden_meses = {
    'Enero': 1, 'Febrero': 2, 'Marzo': 3, 'Abril': 4,
    'Mayo': 5, 'Junio': 6, 'Julio': 7, 'Agosto': 8,
    'Septiembre': 9, 'Octubre': 10, 'Noviembre': 11, 'Diciembre': 12
}

# Columna auxiliar de orden
df_largo['Mes_num'] = df_largo['Mes'].map(orden_meses)


# Primero eliminar filas que no aportan nada
# Agrupamos por producto y verificamos si TODOS los valores de "Ventas Perdidas" son NaN o 0
mask = df_largo.groupby("Codigo_interno")["Ventas Perdidas"].transform(
    lambda x: x.notna().any() and x.fillna(0).sum() > 0
)

# Filtrar solo los productos que sÃ­ tienen al menos una venta perdida
df_filtrado = df_largo[mask]

# Guardar para BI
df_filtrado.to_excel("v_perdidas/ventas_perdidas_general.xlsx", index=False)

## Unir DF costo

In [60]:
df_inv_costos = df_inventario[['Codigo_interno', 'Sucursal', 'Costo unitario']].drop_duplicates()

df_merged = df_limpio.merge( 
    df_inv_costos,
    on = ['Codigo_interno','Sucursal'], 
    how='left'
)

df_merged['costo_vp'] = df_merged['Agosto vp'] * df_merged['Costo unitario']

df_limpio= df_merged

In [61]:
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38448 entries, 0 to 38447
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Sucursal            38448 non-null  object
 1   categoria_producto  38448 non-null  object
 2   Marca               38448 non-null  object
 3   Clase               38448 non-null  object
 4   Codigo_interno      38448 non-null  object
 5   Agosto nv           36316 non-null  float64
 6   Agosto vp           3192 non-null   float64
 7   meta_ns             38448 non-null  float64
 8   Tipo_origen         38448 non-null  object
 9   Descripcion         38448 non-null  object
 10  Costo unitario      8516 non-null   float64
 11  costo_vp            667 non-null    float64
dtypes: float64(5), object(7)
memory usage: 3.5+ MB

## Ventas perdidas

In [62]:


# Suponiendo que ya tienes tu df_limpio
# df_limpio = cargar_datos(str(ruta_carpeta))

# 1) Pedir el mes al usuario
mes = input("\nIngrese el mes (ejemplo: julio): ").strip().lower()

# 2) Construir la ruta completa del archivo
nombre_archivo = Path("informes") / f"datos_{mes}.xlsx"

# 3) Guardar el DataFrame en la carpeta 'informes'
df_limpio.to_excel(nombre_archivo, index=False)

print(f"\nâœ“ Archivo guardado como {nombre_archivo}")

âœ“ Archivo guardado como informes/datos_agosto.xlsx

In [63]:
vp_general = df_limpio[df_limpio['Agosto vp']>0]
vp_general.to_excel(f"v_perdidas/ventas_perdidas_{mes}.xlsx",index=False)

In [64]:
vp_sin_inventario = df_limpio[(df_limpio['Costo unitario'].isna()) & (df_limpio['Agosto vp'])>0 ].sort_values(['Agosto vp'], ascending =False)
vp_sin_inventario.to_excel("v_perdidas/sin_inventario/vp_sin_inventario_agosto.xlsx",index=False)

# Indicador NS

In [65]:
from config import metas_nv

def calcular_nivel_servicio(df, mes=None):
    # Paso 1: Identificar columnas de nivel de servicio
    columnas_nv = [col for col in df.columns if col.endswith('nv')]
    
    # Paso 2: Ordenar las columnas por orden real de meses
    orden_meses = ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',
                   'Julio','Agosto']
    
    columnas_nv_ordenadas = sorted(
        columnas_nv,
        key=lambda x: orden_meses.index(x.split()[0])
    )

    # Paso 3: Si no se especifica el mes, detectar el Ãºltimo con al menos 80% de datos
    if mes is None:
        mes_final = None
        for col in reversed(columnas_nv_ordenadas):
            if df[col].notna().mean() > 0.8:
                mes_final = col
                break
        if mes_final is None:
            raise ValueError("No hay columnas de nivel de servicio con suficientes datos.")
    else:
        mes_final = next((col for col in columnas_nv if col.startswith(mes)), None)
        if mes_final is None:
            raise ValueError(f"No se encontrÃ³ una columna de nivel de servicio para el mes '{mes}'.")

    # Paso 4: Calcular promedio por sucursal y clase
    resultado = (
        df.groupby(['Sucursal', 'Clase'])[mes_final]
        .mean()
        .reset_index()
        .rename(columns={mes_final: 'Nivel_Servicio'})
    )

    # Paso 5: Evaluar contra la meta segÃºn clase
    resultado['Meta'] = resultado['Clase'].map(metas_nv)
    resultado['Cumple'] = resultado['Nivel_Servicio'] >= resultado['Meta']
    resultado['Mes'] = mes_final.split()[0]

    return resultado

In [66]:
# Si quieres que el sistema lo escoja automÃ¡ticamente:
nivel_servicio = calcular_nivel_servicio(df_limpio)

# O si tÃº decides el mes (por ejemplo, "Junio"):
nivel_servicio = calcular_nivel_servicio(df_limpio, mes="Agosto")

nivel_servicio

                 Sucursal Clase  Nivel_Servicio   Meta  Cumple     Mes
0          MOSTRADOR COTA     A        0.924085  0.980   False  Agosto
1          MOSTRADOR COTA   AAA        0.957533  0.999   False  Agosto
2          MOSTRADOR COTA     B        0.911722  0.950   False  Agosto
3          MOSTRADOR COTA     C        0.979357  0.500    True  Agosto
4   SUCURSAL BARRANQUILLA     A        0.983154  0.980    True  Agosto
5   SUCURSAL BARRANQUILLA   AAA        0.979729  0.999   False  Agosto
6   SUCURSAL BARRANQUILLA     B        0.949198  0.950   False  Agosto
7   SUCURSAL BARRANQUILLA     C        0.994905  0.500    True  Agosto
8    SUCURSAL BUCARAMANGA     A        0.996227  0.980    True  Agosto
9    SUCURSAL BUCARAMANGA   AAA        0.978800  0.999   False  Agosto
10   SUCURSAL BUCARAMANGA     B        0.975409  0.950    True  Agosto
11   SUCURSAL BUCARAMANGA     C        0.998069  0.500    True  Agosto
12          SUCURSAL CALI     A        0.959241  0.980   False  Agosto
13          SUCURSAL CALI   AAA        0.970897  0.999   False  Agosto
14          SUCURSAL CALI     B        0.948059  0.950   False  Agosto
15          SUCURSAL CALI     C        0.994854  0.500    True  Agosto
16       SUCURSAL CALLE 6     A        0.945743  0.980   False  Agosto
17       SUCURSAL CALLE 6   AAA        0.996118  0.999   False  Agosto
18       SUCURSAL CALLE 6     B        0.926763  0.950   False  Agosto
19       SUCURSAL CALLE 6     C        0.991935  0.500    True  Agosto
20      SUCURSAL MEDELLIN     A        0.980055  0.980    True  Agosto
21      SUCURSAL MEDELLIN   AAA        0.989786  0.999   False  Agosto
22      SUCURSAL MEDELLIN     B        0.964428  0.950    True  Agosto
23      SUCURSAL MEDELLIN     C        0.996637  0.500    True  Agosto
24         SUCURSAL NORTE     A        0.962929  0.980   False  Agosto
25         SUCURSAL NORTE   AAA        0.987290  0.999   False  Agosto
26         SUCURSAL NORTE     B        0.931443  0.950   False  Agosto
27         SUCURSAL NORTE     C        0.997675  0.500    True  Agosto
28    SUCURSAL VALLADOLID     A        0.968254  0.980   False  Agosto
29    SUCURSAL VALLADOLID   AAA        0.997000  0.999   False  Agosto
30    SUCURSAL VALLADOLID     B        0.958323  0.950    True  Agosto
31    SUCURSAL VALLADOLID     C        0.996029  0.500    True  Agosto

In [67]:
df_largo.head()

,Sucursal,categoria_producto,Marca,Clase,Codigo_interno,meta_ns,Tipo_origen,Descripcion,Mes,Ventas Perdidas,Mes_num
0,SUCURSAL VALLADOLID,Otros,OTROS,C,136 DAC097,0.5,Nacional,[DAC00097136] DAC097 FILTRO AIRE CABINA - VOLK...,Enero,NaN,1
1,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA9278,0.5,Fabricado,[DAE09278025] DA9278 FILTRO AIRE SEGURIDAD - S...,Enero,NaN,1
2,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA8278,0.5,Fabricado,[DAB08278025] DA8278 FILTRO AIRE - SINOTRUK - ...,Enero,NaN,1
3,SUCURSAL VALLADOLID,Filtro,DONSSON,C,025 DA8276,0.5,Fabricado,[DAB08276025] DA8276 FILTRO AIRE - FOTON EN DE...,Enero,NaN,1
4,SUCURSAL VALLADOLID,Otros,OTROS,C,020 DAC242,0.5,Nacional,[DAC00242020] DAC242 FILTRO AIRE CABINA - HAMM...,Enero,NaN,1